@model ADNU_CFRS.Models.ViewModels.SystemAdminVM
@using ADNU_CFRS.Repository

@{
    ViewBag.Title = "EditExternal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-sm border-0" style="margin-top: 10px">
                <div class="card-header text-primary d-flex justify-content-between align-items-center" id="card-table-hearder">
                    <label class="mb-0">
                        EDIT EXTERNAL VISITOR
                    </label>
                </div>
                <div class="card-body">
                    <div id="alert-section" class="alert d-none" role="alert">
                        Message
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted font-weight-bold border-bottom pb-1">
                                PERSONAL DETAILS
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                <input type="text" id="person_id" class="form-control form-control-sm text-center" placeholder=" " autocomplete="off" value="@Model.user_account.person.person_id" readonly>
                                <label for="person_id">Person ID <span class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" id="firstname" class="form-control form-control-sm" placeholder=" " autocomplete="off" value="@Model.user_account.person.firstname">
                                <label for="firstname">Firstname <span class="text-danger">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" id="lastname" class="form-control form-control-sm" placeholder=" " autocomplete="off" value="@Model.user_account.person.lastname">
                                <label for="lastname">Lastname <span class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" id="contactNum" class="form-control form-control-sm" placeholder=" " autocomplete="off" value="@Model.user_account.person.contact_number">
                                <label for="contactNum">Contact# <span class="text-danger">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" id="email" class="form-control form-control-sm" placeholder=" " autocomplete="off" value="@Model.user_account.person.email_address">
                                <label for="email">Email <span class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted font-weight-bold border-bottom pb-1">
                                ORGANIZATION DETAILS
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" id="org_name" class="form-control form-control-sm" placeholder=" " autocomplete="off" value="@Model.external.organization_name">
                                <label for="org_name">Organization Name <span class="text-danger">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" id="org_role" class="form-control form-control-sm" placeholder=" " autocomplete="off" value="@Model.external.organization_role">
                                <label for="org_role">Organization Role  <span class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted font-weight-bold border-bottom pb-1">
                                ACCOUNT DETAILS
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" id="username" class="form-control form-control-sm" placeholder=" " autocomplete="off" value="@Model.user_account.username">
                                <label for="username">Username <span class="text-danger">*</span></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select id="group_id" class="form-control form-control-sm">
                                    <option value="0">Select User Group</option>
                                    @foreach (var x in LookUpHelper.GetUserGroups())
                                    {
                                        <option value="@x.group_id" @(x.group_id == Model.user_account.group.group_id ? "selected" : "")>
                                            @x.group_name
                                        </option>
                                    }
                                </select>
                                <label>User Group <strong class="text-danger">*</strong></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-gray-light d-flex justify-content-end">
                    <a href="@Url.Action("ManageUsers", "SystemAdmin")"
                       class="btn btn-default btn-sm mr-2"
                       title="Back"
                       onclick="ShowLoading()"
                       id="card-button-footer">
                        <i class="fa fa-arrow-left mr-1"></i> Back
                    </a>

                    <button type="submit"
                            class="btn btn-default btn-sm"
                            onclick="confirmSave()"
                            id="card-button-footer">
                        <i class="fa fa-save mr-1"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function confirmSave() {
    showConfirmation({
        title: "Save External Person Info",
        message: "Continue Saving?",
        subMessage: "",
        confirmText: "Yes, Save",
        confirmClass: "btn-success",
        icon: "fa-save",
        iconColor: "text-success",
        onConfirm: function () {
            SaveUser();
        }
    });
}

    function SaveUser() {
        var person_id = document.getElementById("person_id").value;
        var firstname = document.getElementById("firstname").value;
        var lastname = document.getElementById("lastname").value;
        var contactNum = document.getElementById("contactNum").value;
        var email = document.getElementById("email").value;
        var org_name = document.getElementById("org_name").value;
        var org_role = document.getElementById("org_role").value;
        var username = document.getElementById("username").value;
        var group_id = document.getElementById("group_id").value;

        if (firstname === "" || lastname === "" || contactNum === "" || email === "" || org_name === "" || org_role === "" || username === "" ||  group_id === "0") {
            showAlert("Please fill in all required fields.", "danger");
            return false;
        }
        else {
            var url = '@Url.Action("UpdateExternal", "SystemAdmin")';
            var formData = new FormData();
            formData.append("person_id", person_id);
            formData.append("firstname", firstname);
            formData.append("lastname", lastname);
            formData.append("contactNum", contactNum);
            formData.append("email", email);
            formData.append("org_name", org_name);
            formData.append("org_role", org_role);
            formData.append("username", username);
            formData.append("group_id", group_id);

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (response) {
                    showAlert(response.msg, response.result);

                    if (response.result == "success") {
                            setTimeout(function () {
                            window.location = '@Url.Action("ManageUsers", "SystemAdmin")';
                        }, 3000)
                    }
                },
                error: function (xhr, status, error) {
                    showAlert("Something went wrong. Please try again.", "error");
                    console.error(xhr.responseText);
                }
            });
        }
    }
</script>